langchain==0.0.188
tiktoken==0.2.0
openai==0.27.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
numpy==1.24.3
pandas==2.0.2
pathlib==1.0.1
pip==23.0.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
setuptools==67.7.2
six==1.16.0
soupsieve==2.4.1
structlog==23.1.0
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.3
wheel==0.40.0
